body {
    background-color: #333333;
    animation: fadein 5s ease 2s;
    -webkit-animation: fadein 2s; /* Safari and Chrome */

    overflow: hidden;
    height: 100%;
}

h1 {
    text-align: center;
    font-family: 'MangoByeolbyeol';
    font-size: 5vh;
    color: white;
    
}

.center {
    font-family: 'MangoByeolbyeol';
    color: white;
}

.under_setting {
    position: absolute;
    bottom: 10vh;
    width: 100vw;
    text-align: center;
    
}
.center_menu {
    width: 80vw;
    text-align: center;
    margin-left: 1vw;
}

.text_under {
    position: absolute;
    bottom: 15vh;
    width: 100vw;
}

.left_menu {
    font-family: 'MangoByeolbyeol';
    color: aquamarine;
    width: 8vw;
    text-align: center;

}

.right_menu {
    font-family: 'MangoByeolbyeol';
    color: aquamarine;
    width: 5vw;
    text-align: center;

}

.child {
    height: 100vh;
    display: inline-block;
}

#messageInput {
    width: 50vh;
}

@font-face {
    font-family: 'MangoByeolbyeol';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoByeolbyeol.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}