body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    overflow-x: hidden;
    overflow-y: hidden;
    animation: fadein 5s ease 2s;
    -webkit-animation: fadein 2s; /* Safari and Chrome */
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.25fr;
    grid-template-rows: 0.5fr 0.75fr 10fr 0.3fr;
    grid-template-areas: 
        "box1 box2 box3"
        "box1 box2 box6"
        "box1 box5 box6"
        "box1 box5 box7";
    width: 100vw;
    height: 100vh;
    gap: 3px;
    background-color: #646464;
    position: relative;
}

.inner-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 7fr;
    width: 100%;
    height: 100%;
    font-size: 1.2vh;
    position: relative;
    align-items: end;
}

.box {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.test_title {
    grid-area: box2;
    background-color: #333333;
    font-family: 'MangoByeolbyeol';
    font-size: 5vh;
    justify-content: center;
}

.box3 {
    grid-area: box3;
    background-color: #333333;
    justify-content: right;
    font-size: 1vh;
    padding: 1vh;
}

.box1 {
    grid-area: box1;
    background-color: #333333;
    justify-content: center;
}

.box5 {
    grid-area: box5;
    background-color: #333333;
    justify-content: center;
}

.input_box {
    grid-area: box6;
    background-color: #333333;
    font-size: 1.25vh;
    position: relative;
    height: auto;
}

.right-bottom-sort {
    position: absolute;
    left: 10px;
    bottom: 1vh;
}

.input-text {
    grid-area: box7;
    background-color: #333333;
    font-size: 1.25vh;
    padding: 10px;
    display: flex;
    align-items: center;
}

#messageInput {
    flex: 1;
    padding: 5px;
    font-size: 1.25vh;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: white;
}

#sendButton {
    padding: 5px 10px;
    font-size: 1.25vh;
    background-color: transparent;
    color: white;
}

.inner1 {
    text-align: center;
    bottom: 1vh;
    position: absolute;
    width: 100%;
}

.inner2 {
    text-align: center;
    bottom: 1vh;
    position: absolute;
    width: 100%;
}

.inner3 {
    text-align: left;
    bottom: 1vh;
    position: absolute;
    width: 100%;
}

.inner-box {
    position: relative;
}

@font-face {
    font-family: 'MangoByeolbyeol';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoByeolbyeol.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* 모바일 화면 대응 */
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: auto;
        gap: 10px;
    }

    .box {
        width: 90%;
        margin: 5px 0;
    }

    .inner-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3열로 설정 */
        grid-template-rows: auto;
        align-items: start;
    }

    .inner1, .inner2, .inner3 {
        position: relative;
        width: 100%;
        left: 0;
        bottom: auto;
    }

    .inner1 {
        order: 1;
    }

    .inner2 {
        order: 2;
    }

    .inner3 {
        order: 3;
    }

    .input-text {
        flex-direction: column;
        align-items: stretch;
    }

    #messageInput {
        margin: 0 0 10px 0;
        width: 100%;
    }

    #sendButton {
        width: 100%;
    }

    .right-bottom-sort {
        position: static;
        margin-top: 10px;
    }
}